.maintenance {
  margin: 25%;
 background-color: #54cfff !important;
}


.alert-success {
  color: #062b0f;
  background-color: #10f55f !important;
  padding: 1%;
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 20px;
  font-weight: 500;
}

.link_colors_text {
  background-color: white !important;
  max-width: 50% !important;
  margin-left: 25% !important;
  font-weight: 500 !important;
  border-radius: 4% !important;
}
.contractorsTitle {
  text-align: center;
}

.marginBottom {
  margin-bottom: 4rem !important;
}

.search-field {
  width: 350px;
}

.import {
  background-color: #0069d9;
  padding: 3%;
  border-radius: 1rem;
  color: white;
  font-weight: 500;
}

.marginInstructions {
  margin-top: 7%;
}

.separate-top {
  margin-top: 5%;
}

.separate-top2 {
  margin-top: 4%;
}

.separate {
  margin-left: 10% !important;
}

.production {
  background-color: #00ff58 !important;
}

.production, .booked_card, .replenisher_card, .booked_new_card, .stock_coordinator_card, .hygiene_sani_card,  .covid_champion_card, .warehouse_ice_card, .supertemps_card, .office_card, .total_clocked_in_card{
  //font-size: 1vw;
  font-weight: 500;
}


.t_booked, .t_replenisher, .t_booked_new, .t_stock_coordinator,
.t_hygiene_sani, .t_covid_champion, .t_warehouse_ice, .t_supertemps, .t_office, .t_total_clocked_in  {
  padding-right: 0 !important;
  text-align: right;
}
.tablesideSpaces {
  margin-left: 5%;
  margin-right: 5%;
}




.submitButton {
  background-color: #3f9bff;
  border-radius: 20px !important;
  color: white;
  padding: 3%;
  min-width: 15%;
  display: inline-block;
}

.submitButton:hover {
  color: #3f9bff;
  background-color: white;
  border-color: #3f9bff;
}

.cancelButton {
  background-color: #434951;
  border-radius: 20px !important;
  color: white;
  padding: 3%;
  min-width: 45%;
  display: inline-block;
}

.cancelButton:hover {
  color: #434951;
  text-decoration: underline;
  background-color: white;
}


.showCard {
  margin-left: 20%;
  margin-right: 20%;
}

label {
  font-weight: 500;
  margin-left: 1%;
  color: #0069d9
}


.visually-hidden {
  position: absolute;
  left: -100vw;
    
    /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
}

  .replenisher_card, .hygiene_sani_card, .supertemps_card {
      margin-right: 2%;
      margin-left: 2%;
  }

.allBooked, .booked_card, .booked_new_card, .stock_coordinator_card{
  padding-left: 0 !important;
}

#total_production, #total_booked, #total_replenisher, #total_booked_new, #total_stock_coordinator, #total_hygiene_sani, #total_covid_champion, #total_warehouse_ice, #total_supertemps, #total_office, #total_total {
  padding-right: 0 !important;
  text-align: right;
}



/*---Media Queries --*/

/*--- Portrait ---*/



@media (min-width: 768px)  and (orientation : portrait) {
  
}

@media (min-width: 1015px) and (orientation : portrait) { 
 .production, .booked_card, .replenisher_card, .booked_new_card, .stock_coordinator_card, .hygiene_sani_card, .covid_champion_card, .warehouse_ice_card, .supertemps_card, .office_card, .total_clocked_in_card {
    font-Size: 1.5vw;
  }
  
}

@media (max-width: 768px)  and (orientation : portrait) {

 /* .replenisher_card, .hygiene_sani_card, .supertemps_card {
      margin-right: 2%;
      margin-left: 2%;
  }*/

  .total_prod_title, #total_production, .allBooked, .t_booked, #total_booked, .total_booked, .t_replenisher, #total_replenisher, .total_replenisher, .t_booked_new, #total_booked_new, .total_booked_new, .t_stock_coordinator, #total_stock_coordinator, .total_stock_coordinator, .t_hygiene_sani, #total_hygiene_sani, .total_hygiene_sani, .t_covid_champion, #total_covid_champion, .total_covid_champion, .t_warehouse_ice, #total_warehouse_ice, .total_warehouse_ice, .t_supertemps, #total_supertemps, .total_supertemps, .t_office, #total_office, .total_office, .t_total_clocked_in, #total_total, .total_of_totals   {
    //font-size: 1rem !important;
  }

}


@media (max-width: 576px) and (orientation : portrait){
   .production {  
    padding-left: 15px;
    margin-left: 20%;
    //margin-right: 20px !important;
  }

  .booked_card, .replenisher_card, .booked_new_card, .stock_coordinator_card, .hygiene_sani_card, .covid_champion_card, .warehouse_ice_card, .supertemps_card, .office_card, .total_clocked_in_card
    {
      margin-left: 5%;
      margin-right: 0;
    } 
}

@media (max-width: 540px) and (orientation : portrait){
   .production {  
    padding-left: 15px;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 414px) and (orientation : portrait) { 

  .replenisher_card, .hygiene_sani_card, .supertemps_card {
      margin-right: 0%;
      margin-left: 0%;
  }

  .production {
    margin-left: 5%;
    margin-right: 7%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

 .production, .booked_card, .replenisher_card, .booked_new_card, .stock_coordinator_card, .hygiene_sani_card, .covid_champion_card, .warehouse_ice_card, .supertemps_card, .office_card, .total_clocked_in_card {
    font-Size: 4.5vw;
  }

.booked_card, .replenisher_card, .booked_new_card, .stock_coordinator_card, .hygiene_sani_card, .covid_champion_card, .warehouse_ice_card, .supertemps_card, .office_card, .total_clocked_in_card
    {
      margin-left: 5%;
      margin-right: 0;
    } 
}

@media (max-width: 375px) and (orientation : portrait) { 
  .booked_card, .replenisher_card, .booked_new_card, .stock_coordinator_card, .hygiene_sani_card, .covid_champion_card, .warehouse_ice_card, .supertemps_card, .office_card, .total_clocked_in_card {
    font-Size: 4.4vw;
    margin-right: 2%;
  }

.contractorsTitle {
      font-Size: 2rem !important;
  }

  .importCard, .exportCard {
    margin-left: 5% !important;
  }
  .exportCard {
    margin-top: 2% !important;
  }

  .total_prod_title, #total_production, .allBooked, .t_booked, #total_booked, .total_booked, .t_replenisher, #total_replenisher, .total_replenisher, .t_booked_new, #total_booked_new, .total_booked_new, .t_stock_coordinator, #total_stock_coordinator, .total_stock_coordinator, .t_hygiene_sani, #total_hygiene_sani, .total_hygiene_sani, .t_covid_champion, #total_covid_champion, .total_covid_champion, .total_warehouse_ice, #total_warehouse_ice, .total_warehouse_ice, .t_supertemps, #total_supertemps, .total_supertemps, .t_office, #total_office, .total_office, .t_total_clocked_in, #total_total, .total_of_totals   {
    //font-size: 1rem !important;
  }

  .production {
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .separate-top2, .separate-top {
    padding-right: 0 !important;
  }
}
/*.booked_card, .replenisher_card, .booked_new_card, .stock_coordinator_card, .hygiene_sani_card, .covid_champion_card, .warehouse_ice_card, .supertemps_card, .office_card, .total_clocked_in_card
  {
    margin-right: 1%;
  } 
}*/


@media (max-width: 340px) and (orientation : portrait) {  

}




/*--- LandScape ---*/

@media (min-width: 1100px) and (orientation: landscape){
  .importCard, .exportCard {
  //    max-width: 90% !important;
    margin-left: 0% !important;
  }
}

@media (min-width: 825px)  and (orientation : landscape){

  .separate-top, .separate-top2 {
    max-width: 100% !important; //90% !important;
  }
}

@media (max-width: 824px)  and (orientation : landscape){
  .production {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 7%;
    margin-right: 7%;
  }

  .separate-top, .separate-top2{
    margin-left: 5% !important;
    margin-right: -10% !important;
    max-width: 100% !important; //90% !important;
  }

   .replenisher_card, .hygiene_sani_card, .supertemps_card {
      margin-right: 0%;
      margin-left: 0%;
  }

  .production, .booked_card, .replenisher_card, .booked_new_card, .stock_coordinator_card, .hygiene_sani_card,  .covid_champion_card, .warehouse_ice_card, .supertemps_card, .office_card, .total_clocked_in_card{
    font-size: 2.5vw;
  }

  .booked_card, .replenisher_card, .booked_new_card, .stock_coordinator_card, .hygiene_sani_card,  .covid_champion_card, .warehouse_ice_card, .supertemps_card, .office_card, .total_clocked_in_card{
    margin-right: 10%;
    max-width: 100%;
  }

    .importCard, .exportCard {
  //    max-width: 90% !important;
    margin-left: 0% !important;
  }

  .importCard, .exportCard {
    margin-left: 2% !important;
    margin-bottom: 2% !important;
  }
}

@media (max-width: 667px)  and (orientation : landscape){ 
  
  .production, .booked_card, .replenisher_card, .booked_new_card, .stock_coordinator_card, .hygiene_sani_card,  .covid_champion_card, .warehouse_ice_card, .supertemps_card, .office_card, .total_clocked_in_card{
    font-size: 2.9vw;
  }

  .booked_card, .replenisher_card, .booked_new_card, .stock_coordinator_card, .hygiene_sani_card,  .covid_champion_card, .warehouse_ice_card, .supertemps_card, .office_card, .total_clocked_in_card{
    margin-right: 10%;
    max-width: 100%;
    width: 100%; 
 
  }

}

@media (max-width: 568px)  and (orientation : landscape){

}
