.alert-success {
  color: #062b0f;
  background-color: #10f55f !important;
  padding: 1%;
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 20px;
  font-weight: 300;
}

.contractorsTitle {
  text-align: center;
}

.marginBottom {
  margin-bottom: 4rem !important;
}

.search-field {
  width: 350px;
}

.import {
    background-color: #0069d9;
    padding: 3%;
    border-radius: 1rem;
    color: white;
    font-weight: 500;
}

.marginInstructions {
    margin-top: 7%;
}

.separate-top {
   margin-top: 5%;
}

.separate-top2 {
    margin-top: 4%;
}

.separate {
    margin-left: 10% !important;
}

.production {
    background-color: #00ff58 !important;
}

.tablesideSpaces {
    margin-left: 5%;
    margin-right: 5%;
}



.submitButton {
    background-color: #3f9bff;
    border-radius: 20px !important;
    color: white;
    padding: 3%;
    min-width: 15%;
    display: inline-block;
}

.submitButton:hover {
    color: #3f9bff;
    background-color: white;
    border-color: #3f9bff;
}

.cancelButton {
    background-color: #434951;
    border-radius: 20px !important;
    color: white;
    padding: 3%;
    min-width: 45%;
    display: inline-block;
}

.cancelButton:hover {
    color: #434951;
    text-decoration: underline;
    background-color: white;
}


.showCard {
    margin-left: 20%;
    margin-right: 20%;
}

label {
  font-weight: 500;
  margin-left: 1%;
  color: #0069d9
}


.visually-hidden {
    position: absolute;
    left: -100vw;
    
    /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
}